<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bot de Telegram</title>

    <!-- CSS de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- librerías opcionales que activan el soporte de HTML5 para IE8 -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">TheWeatherBOT</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="">Inicio</a></li>
      <li><a href="">Status Heroku</a></li>
    </ul>
  </div>
</nav>
    <div class="container">
      <div class="row">
        <div class="col-md-6" >
          <div class="panel panel-info">
            <div class="panel-heading">
              <p>PAGINA PRINCIPAL</p>
            </div>
            <div class="panel-body">

              <hr>
              Para acceder al bot de telegram pinche en el siguiente enlance:

              https://telegram.me/carlillostole_weatherBot


                    <hr>


            </div>
          </div>
        </div>


        </form>
       </div>
      </div>
    </div>
    <!-- Librería jQuery requerida por los plugins de JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Todos los plugins JavaScript de Bootstrap (también puedes
         incluir archivos JavaScript individuales de los únicos
         plugins que utilices) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>
</html>
