<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bot de Telegram</title>
    <!-- CSS de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


  </head>
  <body>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://telegram.me/carlillostole_weatherBot">TheWeatherBOT</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Inicio</a></li>
      <li><a href="/status">Status Heroku</a></li>
    </ul>
  </div>
</nav>
<div class="blog-header">
  <div class="w3-container w3-margin">
    <h1 class="blog-title">IV 17-18: Infraestructura Virtual</h1>
      <h2> Para acceder al BOT click en el siguiente enlace:</h2>
      <h3><a href="https://telegram.me/carlillostole_weatherBot">TheWeatherBOT</a>
    <p class="lead blog-description"></p>
  </div>
</div>

<footer class="blog-footer">
  <p>Copyright &#169; 2018. Carlos Toledano Delgado: Company name all rights reserved</p>
  <p>
  </p>
</footer>


</body>
</html>
